<style>
  .menu-drawer {
    position: fixed;
    left: 0;
    transform: translateX(-100%);
    transition: 200ms;
    top: 0;
    height: 100%;
    background: white;
    z-index: 1000;
    width: 90%;
    color: black;
    display: flex;
    flex-direction: column;
  }

  .menu-drawer * {
    color: black;
  }

  .menu-drawer a {
    display: flex;
  }

  .menu-drawer details > div {
    margin: 12px 0 20px;
  }

  .menu-drawer.open {
    transform: translateX(0);
  }

  .menu-drawer__top {
    width: 100%;
    background: #2f2d29;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
  }

  .menu-drawer__close {
    color: white;
    cursor: pointer;
    font-size: 24px;
  }

  .menu-drawer__links {
    padding: 20px;
    font-size: 18px;
    overflow-y: auto;
  }

  .level-2 summary,
  .level-2__link {
    font-size: 18px;
  }

  .menu-drawer .accordion__content {
    padding-left: 8px;
  }

  .bold,
  .bold-summary > summary {
    font-weight: bold;
  }

  .menu-drawer__inner-link {
    grid-column: -1 / 1;
    font-size: 16px;
  }
</style>

<div class="menu-drawer">
  <div class="menu-drawer__top">
    <div></div>
    <div class="menu-drawer__close">&#x2715;</div>
  </div>

  <div class="menu-drawer__links">
    {% for block in section.blocks %}
      {% assign menu = block.settings.menu %}
      {% if block.type == 'pipe' %}{% continue %}{% endif %}
      {% if block.type == 'mobile_menu_links' %}
        {% for link in menu.links %}
          {% assign title = link.title %}
          {% if link.url contains "register" and customer %}{% continue %}{% endif %}
          {% if link.url contains "login" and customer %}{% assign title = "Account" %}{% endif %}
          <a class="menu-drawer__inner-link" style="color: {{ block.settings.text_color }}" href="{{ link.url }}">{{ title }}</a>
        {% endfor %}
        {% continue %}
      {% endif %}
      {% if menu != blank %}
        {% capture content %}
          {% if block.type == "single_mega" %}
            {% render 'menu-collection-cards', links: menu.links, block: block %}
          {% else %}
            {% for link in menu.links %}
              {% if link.links == blank %}
                <a class="level-2__link" href="{{ link.url }}">{{ link.title }}</a>
                {% continue %}
              {% endif %}
              {% capture content_2 %}
                {% render 'menu-collection-cards', links: link.links, parent_link: link, block: block %}
              {% endcapture %}
              {% render "accordion", title: link.title, title_link: link.url, content: content_2, classes: "level-2" %}
            {% endfor %}
          {% endif %}
        {% endcapture %}
        {% render 'accordion', title: block.settings.main_nav_text, title_link: block.settings.main_nav_link, content: content, classes: 'bold-summary' %}
      {% else %}
        <a class="bold" href="{{ block.settings.main_nav_link }}">{{ block.settings.main_nav_text }}</a>
      {% endif %}
    {% endfor %}
  </div>
</div>

<script>
  const menuDrawerTrigger = document.querySelector('[data-menu-drawer]');
  const menuDrawerClose = document.querySelector('.menu-drawer__close');
  const menuDrawer = document.querySelector('.menu-drawer');
  menuDrawerTrigger.addEventListener('click', function () {
    menuDrawer.classList.add('open');
  });

  document.querySelectorAll('.t4s-close-overlay, .menu-drawer__close').forEach((el) =>
    el.addEventListener('click', function () {
      menuDrawer.classList.remove('open');
      document.querySelector('.t4s-close-overlay').classList.remove('is--visible');
    })
  );
</script>
